@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-dark: #292524;
  --foreground-light: #f5f5f4;
  --background: #fafaf9;
  --swiper-pagination-color: #fb923c;
}

body {
  color: var(--foreground-dark);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
